.stats {
    font-family: $font;
    font-weight: 400;
    margin: 100px 0;
    &__descr {
        font-size: 30px;
        line-height: 160%;
        margin-bottom: 50px;
    }
    &__descr span {
        font-weight: 600;
    }
    &__params {
        display: flex;
        justify-content: space-between;
    }
    &__param {
        max-width: 260px;
    }
    &__num {
        font-weight: 600;
        font-size: 70px;
        line-height: 160%;
        color: $red;
        margin-bottom: 25px;
    }
    &__param-desc {
        font-size: 18px;
        line-height: 160%;
        color: rgba(20, 16, 36, 0.7);
    }
}

@media (max-width: 1240px) {
    .stats {
        &__params {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 30px;
        }
        &__param {
            text-align: center;
        }
    }
}

@media (max-width: 992px) {
    .stats {
        margin: 60px 0;
    }
}

@media (max-width: 670px) {
    .stats {
        &__params {
            display: block;
            text-align: center;
        }
        &__param {
            margin: 15px auto;
        }
        &__num {
            line-height: 120%;
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 440px) {
    .stats {
        &__descr {
            font-size: 27px;
        }
    }
}