<section class="form">
    <div class="container">
        <div class="form__inner">
            <div class="form__info">
                <h3 class="form__title">Запишитесь на курс со скидкой 10%</h3>
                <p class="form__text">Акция действительна до 10 марта 2022 года</p>
            </div>
            <form class="form__contacts">
                <input type="text" placeholder="Имя">
                <input type="phone" placeholder="Телефон">
                <input type="email" placeholder="E-mail">
                <button class="form__btn" type="submit">Оформить заявку</button>
            </form>
        </div>
    </div>
</section>