<div class="modal hide">
    <div class="modal__window">
        <div class="modal__top">
            <div class="modal__top-inner">
                <div class="modal__top-info">
                    <div class="modal__top-info__inner">
                        <div class="modal__top-image">
                            <img src="../img/modal-img.jpg" alt="image">
                        </div>
                        <div class="modal__top-content">
                            <h4 class="modal__top-name">Марина Орлова</h4>
                            <p class="modal__top-tech">преподаватель по робототехнике</p>
                            <div class="modal__top-socials">
                                <div class="modal__top-social">
                                    <img src="../img/socials/1.svg" alt="icon">
                                </div>
                                <div class="modal__top-social">
                                    <img src="../img/socials/2.svg" alt="icon">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal__close">Закрыть</div>
            </div>
        </div>
        <div class="modal__tabs">
            <div class="modal__tab modal__tab--active">
                Образование
            </div>
            <div class="modal__tab">
                Опыт работы
            </div>
            <div class="modal__tab">
                Награды
            </div>
        </div>
        <div class="modal__content">
            <p>
                Сентябрь 1995 — Июнь 2000 <br>
                Санкт-Петербургский политехнический университет Петра Великого <br>
                Факультет: Компьютерных наук и технологий <br>
                Специальность: Математика и компьютерные науки <br>
                Форма обучения: Очная <br>
            </p>
            <h5>Курсы и тренинги</h5>
            <p>
                Сентябрь 1995 — Июнь 2000 <br>
                Санкт-Петербургский политехнический университет Петра Великого <br>
                Факультет: Компьютерных наук и технологий <br>
                Специальность: Математика и компьютерные науки <br>
                Форма обучения: Очная <br>
            </p>
            <h5>Курсы и тренинги</h5>
            <p>
                Сентябрь 1995 — Июнь 2000 <br>
                Санкт-Петербургский политехнический университет Петра Великого <br>
                Факультет: Компьютерных наук и технологий <br>
                Специальность: Математика и компьютерные науки <br>
                Форма обучения: Очная <br>
            </p>
            <h5>Курсы и тренинги</h5>
            <p>
                Сентябрь 1995 — Июнь 2000 <br>
                Санкт-Петербургский политехнический университет Петра Великого <br>
                Факультет: Компьютерных наук и технологий <br>
                Специальность: Математика и компьютерные науки <br>
                Форма обучения: Очная <br>
            </p>
        </div>
        <div class="modal__content">
            <p>
                Сентябрь 1995 — Июнь 2000 <br>
                Санкт-Петербургский политехнический университет Петра Великого <br>
                Факультет: Компьютерных наук и технологий <br>
                Специальность: Математика и компьютерные науки <br>
                Форма обучения: Очная <br>
            </p>
            <h5>Курсы и тренинги</h5>
            <p>
                Сентябрь 1995 — Июнь 2000 <br>
                Санкт-Петербургский политехнический университет Петра Великого <br>
                Факультет: Компьютерных наук и технологий <br>
                Специальность: Математика и компьютерные науки <br>
                Форма обучения: Очная <br>
            </p>
            <h5>Курсы и тренинги</h5>
            <p>
                Сентябрь 1995 — Июнь 2000 <br>
                Санкт-Петербургский политехнический университет Петра Великого <br>
                Факультет: Компьютерных наук и технологий <br>
                Специальность: Математика и компьютерные науки <br>
                Форма обучения: Очная <br>
            </p>
            <h5>Курсы и тренинги</h5>
            <p>
                Сентябрь 1995 — Июнь 2000 <br>
                Санкт-Петербургский политехнический университет Петра Великого <br>
                Факультет: Компьютерных наук и технологий <br>
                Специальность: Математика и компьютерные науки <br>
                Форма обучения: Очная <br>
            </p>
        </div>
        <div class="modal__content">
            <p>
                Сентябрь 1995 — Июнь 2000 <br>
                Санкт-Петербургский политехнический университет Петра Великого <br>
                Факультет: Компьютерных наук и технологий <br>
                Специальность: Математика и компьютерные науки <br>
                Форма обучения: Очная <br>
            </p>
            <h5>Курсы и тренинги</h5>
            <p>
                Сентябрь 1995 — Июнь 2000 <br>
                Санкт-Петербургский политехнический университет Петра Великого <br>
                Факультет: Компьютерных наук и технологий <br>
                Специальность: Математика и компьютерные науки <br>
                Форма обучения: Очная <br>
            </p>
            <h5>Курсы и тренинги</h5>
            <p>
                Сентябрь 1995 — Июнь 2000 <br>
                Санкт-Петербургский политехнический университет Петра Великого <br>
                Факультет: Компьютерных наук и технологий <br>
                Специальность: Математика и компьютерные науки <br>
                Форма обучения: Очная <br>
            </p>
            <h5>Курсы и тренинги</h5>
            <p>
                Сентябрь 1995 — Июнь 2000 <br>
                Санкт-Петербургский политехнический университет Петра Великого <br>
                Факультет: Компьютерных наук и технологий <br>
                Специальность: Математика и компьютерные науки <br>
                Форма обучения: Очная <br>
            </p>
        </div>
    </div>

    <div class="modal__overlay"></div>
</div>