@import 'vars';

.container {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 15px;
}

.show {
    display: block !important;
}

.hide {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: .15s;
}

.title {
    font-family: $font;
    font-weight: 600;
    font-size: 50px;
    line-height: 160%;
    color: $dark;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}